* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Shadows Into Light", cursive;
}

/* Utility class*/
a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}
h1 {
  font-size: 3em;
  margin: 20px 0;
}
p {
  font-size: 1.5em;
  margin: 20px 0;
}
ul {
  list-style-type: none;
}
.back-black {
  background-color: black;
}
.back-white {
  background-color: white;
}
.back-blue {
  background-color: blue;
}
.text-white {
  color: white;
}
.text-blue {
  color: blue;
}
.center {
  text-align: center;
}
.button {
  border-radius: 25px;
  padding: 10px 15px;
  border-style: none;
}

/*regole pagina*/
.navigation-bar-cointainer {
  background-color: #255ee9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 80%;
}
.link-navigation-bar {
  display: flex;
  list-style-type: none;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}
.logo-navigation-bar {
  width: 25%;
}
.login-navigation-bar {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

.background-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/img/jumbo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 550px;
}
.welcome-title-cointainer {
  width: 50%;
}
.button-title {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10%;
}
.equal-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.column-container {
  display: flex;
  width: 80%;
}
.big-column {
  width: 65%;
}
.little-column {
  width: 35%;
}
.last-section {
  width: 80%;
  margin: 0 auto;
}
.back-star {
  width: 60%;
  margin: 0 auto;
  background: url(/img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 30px 0;
}
.back-star h2 {
  padding: 30px 0;
}
.footer-container {
  margin-top: 100px;
}
.utility-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: auto;
  padding: 20px 0;
  margin: 0 auto;
}
.contact-section {
  width: 25%;
}
.ita-flag {
  width: 1.5em;
}
.link-section {
  width: 70%;
  display: flex;
}
.link-section li {
  padding: 5px 0;
  width: 25%;
}
.end-bar-container {
  display: flex;
  justify-content: center;
}
.end-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 80%;
  border-top: 1px solid white;
  margin-bottom: 30px;
}
.link-section h2 {
  color: blue;
  font-size: 2em;
}